*{
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
body{
  background: #EDF2F4;
}

nav, footer{
  position: fixed;
  width: 100vw;
  height: 75px;
  background: #2B2D42;

}
nav > h3, footer > h3{
  width: 100px;
  display: block;
  float: right;
  text-align: center;
  line-height: 75px;
  color: #efefef;

}
nav > h3:first-child{
  float: left;;
  color: #EF233C
}
nav{
  top: 0;
}
footer{
  bottom:0;
}

main{
  width: 1024px;
  display: block;
  margin: 0 auto;
  display: flex;
}
ul{
  width: 33%;
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
}

li{
  width: calc(33% - 20px);
  height: 100px;
  margin: 10px;
  background: #EF233C;
}
section{
  width: 67%;
  background: lightgrey;
}
